* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

#hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;

    background: #262015;
    color: #f2d5bb;
    padding: 0 3rem;
}

#hero .left {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 3rem 0 15rem 0;
}

#hero .logo-mba {
    width: 250px;
    margin-bottom: 3rem;
}

#hero svg.title {
    width: 400px;
    border-bottom: 3px solid #f2d5bb;
    margin-bottom: 1.5rem;
}

#hero p {
    font-size: 1.2rem;
    max-width: 500px;
}

#container {
    position: relative;
    cursor: none;

    padding: 2rem;
    /* flex-grow: 2; */
}

#image {
    height: 70vh;
}

/* #image {
    width: 200px;
    height: 500px;
    background-image: url("./momie.png");
    position: relative;
} */

#cursor {
    position: fixed;
    background: url("./momieblue.png") no-repeat top right;
    background-size: auto 70vh;
    background-position: 10px 10px;
    border: 2px solid #d9984a;
    border-radius: 100%;
    backdrop-filter: brightness(10%);
    height: 150px;
    width: 150px;
    z-index: 1000;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    pointer-events: none;
    opacity: 0%;

    transition: opacity ease 0.4s;
}

#moreButton {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);

    padding: 1rem;
    background: none;
    border: 3px solid #f2d5bb;
    color: #f2d5bb;

    cursor: pointer;
    transition: all ease 0.2s;
    box-shadow: 2px 2px 0px, 1px 1px 0px;
}

#moreButton:hover {
    transform: translateX(calc(-50% + 3px)) translateY(3px);
    box-shadow: none;
}
